{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <h6>{{ optional_text }}</h6>
    
    {% for listings in all_listings %}
        <div class="container">
        <div class="card">
            {% if listings.img %}
                <div class="card-image">
                    <img src="{{ listings.img.url }}" alt="{{ listings.title }}" id="bid_image" height="300px" width="300px">
                </div>
            {% endif %}
            <div class="card-content">
                <h2>{{ listings.title }}</h2>
                <p class="price">Price: {{listings.starting_bid}}</p>
                <p class="date">Created {{listings.created_datetime}}</p>
            </div>
            <form action="{% url 'watch' listings.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">
                {% if listing.watch %} Remove from Watchlist {% else %} Add to watchlist
                {% endif %}
            </button>
            </form>
            <br>
            <form action="{% url 'view_listing' listings.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="'btn btn-primary">View</button>
            </form>
        </div>        
        </div> 
        <br>       

    {% endfor %}
{% endblock %}