{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if listing.watch %}
        <button type="button" class="btn btn-warning" >Watchlist</button>

    {% endif %}
    <br>
    <img src="{{ listing.img.url }}" alt="{{ listing.title }}" id="bid_image" height="300px" width="300px">
    <p>{{ listing.description }}</p>
    <h3><b>{{listing.starting_bid }}</b> </h3>

    <p>{{ listing.bid_count }}(s) so far.</p>

    
    <form action="{% url 'new_bid' listing.id %}", method="POST">
        {% csrf_token %}
        
        <input type="number" name="new_bid" placeholder="Bid Higher !!" >
        <br>
        <br>
        <button class="btn btn-dark" type="submit">Place Bid</button>
    </form>
    
    <p>{{ new_bid_placed }}</p>

    <h3>Details :</h3>
    <ul>
        <li>Created by {{ listing.user }}</li>
        {% if listing.category %}
            <li>Category : {{listing.category }}</li>
        {% else %}
            <li>Category : No Category Listed </li>
        {% endif %}
    </ul>

    <br>
    <h5><b>Comments</b></h5>
    <br>
    {% if user.is_authenticated %}
        <form action="{% url 'comment' listing.id %}", method="post">
            {% csrf_token %}
            {{ comments_form.as_p }}
            <br>
            <button class="btn btn-primary" type="submit">Comment</button>
        </form>
    {% endif %}
    
    {% for comment in comments %}
        <p> {{comment.created_at }}</p>
        <p><b> {{ comment.user }} :</b> {{ comment.text }}</p>
    {% endfor %}


    
    
{% endblock %}