{% extends "auctions/layout.html" %}

{% block body %}
    <h1>You're WatchList</h1>
    <h2>{{ empty_watchlist }}</h2>
    {% for listing in listings %}
        <br>
        <h3>{{ listing.title }}</h3>
        <p>{{ listing.description }}</p>
        <h6>{{ listing.bid }}</h6>

        <form action="{% url 'watch' listing_id }" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">
                {% if listing.watch %} Remove from Watchlist {% else %} Add to watchlist
                {% endif %}
            </button>
        </form>

    {% empty %}
        <p>Add something to your Watchlist!</p>
    {% endfor %}
{% endblock %}